.row
  .three.columns
    %img{:src => provider.image_url, :style => "margin-top:18px;"}/
  .three.columns
    %a.button.extend{:href => "http://"+provider.url, :style => "margin-top:10px;"} Öffnen
  .six.columns
    %table{:bgcolor => "#", :cellpadding => "0", :cellspacing => "0", :width => "133"}
      %tr
        %td
          %form
            %input.star{name:"star3", type: "radio", disabled: "disabled"}
            %input.star{name:"star3", type:"radio", disabled:"disabled"}
            %input.star{name:"star3", type:"radio", disabled:"disabled", checked:"checked"}
            %input.star{name:"star3", type:"radio", disabled:"disabled"}
            %input.star{name:"star3", type:"radio", disabled:"disabled"}