%li
  .title
    %h5 
      =article.name
    %h3
      %small 
        ISBN-13: 
        =article.ean
  .content
    .row
      .four.columns
        %img{:src => "http://placehold.it/350x350"}/
        %img{:src => "http://placehold.it/350x350"}/
      .four.columns.offset-by-one
        %p
          =article.description
      .two.columns.offset-by-one
        =link_to 'add', add_article_path(cart_id: @cart.id, article_id: article.id), class: 'button'
