<div class="title">
  <h5>Werbung</h5>
</div>
<div class="content">
  <h6>Aktiv</h6>
  <hr>
  <div class="row">
    <div class="large-5 columns">
      <p><img src="http://placehold.it/205x720&text=ActiveAd" /></p>
    </div>
    <div class="large-7 columns">
      <label for="image_url">Bild URL: </label><input id="image_url" name="image_url" type="text" value="http://placehold.it/205x720&text=InactiveAd_1" />
      <label for="link_url">Link URL: </label><input id="link_url" name="link_url" type="text" value="http://placehold.it" />
      <a href="#" class="button expand">Speichern</a>
    </div>
  </div>



  <h6>Inactive</h6>
  <hr>
  <div class="row">
    <div class="large-5 columns">
      <p><img class="has-tip tip-right" title="Klicke hier um die Werbung aktiv zu schalten" src="http://placehold.it/205x720&text=InactiveAd_1" /></p>
    </div>
    <div class="large-7 columns">
      <label for="image_url">Bild URL: </label><input id="image_url" name="image_url" type="text" value="http://placehold.it/205x720&text=InactiveAd_1" />
      <label for="link_url">Link URL: </label><input id="link_url" name="link_url" type="text" value="http://placehold.it" />
      <a href="#" class="button expand">Speichern</a>
      <a style="margin-top: 15px;" class="alert button expand" href="#">Löschen</a>
    </div>
  </div>
  <div class="row">
    <div class="large-5 columns">
      <p><img style="cursor: pointer;" class="has-tip tip-right" title="Klicke hier um die Werbung aktiv zu schalten" src="http://placehold.it/205x720&text=InactiveAd_2" /></p>
    </div>
    <div class="large-7 columns">
      <label for="image_url">Bild URL: </label><input id="image_url" name="image_url" type="text" value="http://placehold.it/205x720&text=InactiveAd_1" />
      <label for="link_url">Link URL: </label><input id="link_url" name="link_url" type="text" value="http://placehold.it" />
      <a href="#" class="button expand">Speichern</a>
      <a style="margin-top: 15px;" class="alert button expand" href="#">Löschen</a>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns centered">
      <a href="#" class="button expand">Werbung hinzufügen</a>
    </div>
  </div>
</div>