.title
  %h5 Werbung
.content
  %h6 Aktiv
  %hr/
    - @advertisments.each do |advertisment|
      = render advertisment
  %h6 Inactive
  %hr/

  .row
    .six.columns.centered
      %a.button.expand{:href => "#"} Werbung hinzufügen
