
<div id="edit-user-modal" class="reveal-modal large">
  <h3>Profil</h3>
  <div class="row">
    <div class="eight columns">
      <div class="row">
        <div class="ten columns">
          <input type="text" placeholder="E-Mail" value="test@user.de" />
        </div>
      </div>
      <div class="row">
        <div class="ten columns">
          <input type="password" placeholder="Aktuelles Passwort" />
        </div>
      </div>

      <div class="row">
        <div class="ten columns">
          <input type="password" placeholder="Neues Passwort" />
        </div>
      </div>
      <div class="row">
        <div class="ten columns">
          <input type="password" placeholder="Neues Passwort wiederholen" />
        </div>
      </div>
      <div class="row">
        <div class="ten columns">
          <a class="button expand" href="#">Profilinformationen ändern</a>
        </div>
      </div>
    </div>
    <div class="four columns">
      <p>Lorem ipsum ad qui amet dolore, vitae cetero quaerendum mel ea. Facilis fastidii duo no. Viris partiendo ius no, alia animal nam at. Feugait imperdiet ius an, no quis facer lucilius vis. Aliquam saperet contentiones ex pro.</p>
    </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>