.title
  %h5 Anbieter
.content
  %ul{:style => "list-style-type: none;"}
    -@providers.each do |provider|
      %li{:style => "padding-bottom: 20px;"}
        %a.button{:href => "#"}
          %img{:src => "/assets/unchecked.png"}/
          =provider.name