<div class="title">
  <h5>Anbieter</h5>
</div>
<div class="content">
  <ul style="list-style-type: none;">
    <li style="padding-bottom: 20px;"><a href="#" class="button"><img src="/assets/unchecked.png"> e-Bay</a></li>
    <li><a href="#" class="button"><img src="/assets/checked.png"> Buch.de</a></li>
  </ul>
</div>