.title
  %h5 Statistiken
.content
  %canvas{:height => "400", :width => "625"}
  %br
  %p
    Legende:
    %span{style: "background-color: rgb(220,220,220);"}
      Compares
    %span{style: "background-color: rgb(151,187,205);"}
      Searches


