
<div class="title">
  <h5>Nutzer</h5>
</div>
<div class="content">
  <div class="row">
    <div class="large-5 columns">
      <ul>
        <li>
<span class="success label"><a data-reveal-id="user-delete-modal" style="color: white; cursor: pointer;">abc@test.de</a></span>
</li>
        <li>
          <span class="success label"><a data-reveal-id="user-delete-modal" style="color: white; cursor: pointer;">abc@test.de</a></span>
        </li>
      </ul>
    </div>
    <div class="large-3 columns large-offset-2">
      <p>
        <span class="success label">Online</span><br>
        <span class="secondary label">Offline</span><br>
        <span class="alert label">Noch nicht bestätigt / <br> gesperrt</span>
      </p>
    </div>
  </div>
</div>