<div id="user-delete-modal" class="reveal-modal medium">
  <h3>Manage User: <small>abc@test.de</span></h3>
  <div class="row">
    <div class="three columns">
      <a href="#" class="button expand">Delete User</a>
    </div>
    <div class="one columns"></div>
    <div class="three columns">
      <a href="#" class="button expand">Disable User</a>
    </div>
    <div class="one columns"></div>
    <div class="three columns">
      <a href="#" class="button expand">Make Admin</a>
    </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>