.row.collapse#search
  = form_for(:search, :url => home_search_path,:method => "get") do |f|
    .ten.mobile-three.columns
      =f.text_field :term
    .two.mobile-one.columns

      =f.submit (t "shared.find_text"), :class => "button"
-content_for :search do
  .nine.columns#search-hidden{style: 'display: none'}

    = simple_form_for(:search_options, :url => home_search_path, :method => "get") do |f|
      =f.input :title
      .row
        .eight.columns
          =f.input :author
        .four.columns
          =f.input :article_type , collection: [:book, :ebook, :cd, :dvd, :bluray]
      .row
        .six.columns
          =f.input :min_price
        .six.columns
          =f.input :max_price
      =f.button :submit, (t "shared.find_text")

  .tree.columns
    %a{:href => "javascript:showSearch()"}
      = t "shared.advanced_search"

