
      <div class="ten mobile-three columns">
        <input style="height: 39px;" type="text" value="The Hitchhiker’s Guide to the Galaxy" />
      </div>
      <div class="two mobile-one columns">
        <a style="height: 39px;" class="button expand postfix">Finden!</a>
      </div>
      <div class="row">
        <div class="two mobile-one columns offset-by-ten">
          <a style="margin-left: 14px;">erweiterte Suche</a>
        </div>
      </div>
