%li.active{:id => "cart-#{cart.id}"}
  .title
    %h5
      = cart.id
  .content
    .row
      .six.columns
        %ul
          -cart.articles.each do |article|
            %li
              =article.name
      .four.columns
        = link_to "Auswählen", use_cart_path(cart.id), remote: true, :class => "button expand", :style => "margin-left: 50px; margin-bottom: 15px;"
        = link_to "Löschen", delete_cart_path(cart.id), remote: true, :class => "button expand", :style => "margin-left: 50px;"
      .two.colums