%p#notice= notice

%p
  %b User:
  = @active_cart.user_id
%ul.accordion
  =render @active_cart.articles, search: false
= link_to (t "general.edit_text"), edit_cart_path(@active_cart)
\|
= link_to (t "general.back_text"), carts_path
