#add-comment-modal.reveal-modal.medium
  %h3
    Schreib ein Kommentar
    %br/
    %small Per Anhalter durch die Galaxis
  .row
    .eleven.colums
      %textarea{:cols => "30", :rows => "20"}
  .row
    .eleven.colums
      %a.button.expand{:href => "#"} Absenden
  %a.close-reveal-modal ×
