#cart-modal.reveal-modal.xlarge
  %h3 Items in Cart
  %ul.accordion{:id => "cart"}
    =render @active_cart.articles, search: false
  .row
    .three.columns
      %a#yes-no.button.expand{:href => "#"} Neuer Warenkorb
    .three.columns.offset-by-one
      %a.button.expand{"data-reveal-id" => "switch-cart-modal", :href => "#"} Ändere / Lösche Warenkorb
    .three.columns.offset-by-one
      %a.button.expand{"data-reveal-id" => "compare-cart-modal", :href => "#"} Vergleiche Anbieter
    .one.columns
  %a.close-reveal-modal ×
