#cart-modal.reveal-modal.xlarge
  %h3 Items in Cart
  %ul.accordion#carts
    =render @active_cart.articles, search: false
  .row
    .three.columns
      -if has_permission?("switch_cart")
        = link_to 'Neuer Warenkorb', add_new_path, remote: true, :class => "button expand"
    .three.columns.offset-by-one
      -if has_permission?("switch_cart")
        %a.button.expand{"data-reveal-id" => "switch-cart-modal", :href => "#"} Ändere / Lösche Warenkorb
    .three.columns.offset-by-one
      -if has_permission?("compare_cart")
        =link_to 'Vergleiche Anbieter', track_compare_path ,remote: true, :class => "button expand", "data-reveal-id" => "compare-cart-modal", :id => "compare-cart-modal-button"
    .one.columns
  %a.close-reveal-modal ×
