#cart-modal.reveal-modal.xlarge
  %h3 Items in Cart
  %ul.accordion{:id => "cart"}
    =render @active_cart.articles, search: false
  .row
    .three.columns
      = link_to 'Neuer Warenkorb', add_new_path, remote: true, :class => "button expand"
    .three.columns.offset-by-one
      -if has_permission?("switch_cart")
        %a.button.expand{"data-reveal-id" => "switch-cart-modal", :href => "#"} Ändere / Lösche Warenkorb
    .three.columns.offset-by-one
      -if has_permission?("compare_cart")
        =link_to 'Vergleiche Anbieter', track_compare_path ,remote: true, :class => "button expand"
    .one.columns
  %a.close-reveal-modal ×
