#encoding: utf-8
#compare-cart-modal.reveal-modal.xlarge
  .row
    .three.columns
      %h3
        Anbietervergleich
        %br
      - @cart_providers.each do |provider|
        %ul.pricing-table
          %li.title
            =provider.display_name
            %li.price
              ="Preis #{number_to_currency(@active_cart.calculate_overall_price(provider), :format => '%n%u', :unit => '€')}"
            %li.cta-button
              = link_to raw("Direkt zu #{provider.display_name} &raquo;"), provider.url, :class => "button"
    .nine.columns
      %h3{style: "text-align: center"}
        Preisverlauf
        %br

      %canvas{:height => "300", :width => "600", :style => "margin-left: 20px"}
      .row
        .five.columns.offset-by-one
          = render 'shared/price_history_data'
  %a.close-reveal-modal ×