  <div id="compare-cart-modal" class="reveal-modal large">
    <h3>Anbietervergleich</h3>
    <div class="row">
      <div class="ten columns centered">
        <ul class="pricing-table">
          <li class="title">Buch.de</li>
          <li><img style="margin-left: 80px;" src="http://placehold.it/450x350"></li>
          <li class="price">99.98€</li>
          <li class="cta-button"><a class="button" href="#">Direkt zu Buch.de &raquo;</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="ten columns centered">
        <ul class="pricing-table">
          <li class="title">e-bay</li>
          <li><img style="margin-left: 80px;" src="http://placehold.it/450x350"></li>
          <li class="price">99.99€</li>
          <li class="cta-button"><a class="button" href="#">Direkt zu ebay &raquo;</a></li>
        </ul>
      </div>
    </div>
    <a class="close-reveal-modal">&#215;</a>
  </div>