#edit-user-modal.reveal-modal.large
  %h3 Profil
  .row
    .eight.columns
      =render :partial => "users/update_form"
    .four.columns
      %p Lorem ipsum ad qui amet dolore, vitae cetero quaerendum mel ea. Facilis fastidii duo no. Viris partiendo ius no, alia animal nam at. Feugait imperdiet ius an, no quis facer lucilius vis. Aliquam saperet contentiones ex pro.
  %a.close-reveal-modal ×
