#forgot-password-modal.reveal-modal.medium
  %h3 Passwort wiederherstellen
  = form_tag password_resets_path, :method => :post do
    .row
      .twelve.columns.centered
        .row.collapse
          .seven.mobile-two.columns
            = text_field_tag :email
          .five.mobile-two.columns
            = submit_tag (t "shared.send_email"), :class => "button"
  %a.close-reveal-modal ×