#forgot-password-modal.reveal-modal.medium
  %h2 Passwort wiederherstellen
  = form_tag password_resets_path, :method => :post do 
    .row.collapse
      .seven.mobile-two.columns
        = text_field_tag :email
      .five.mobile-two.columns
        = submit_tag "Setze mein Passwort zurück", :class => "button"
  %a.close-reveal-modal ×