  <div id="forgot-password-modal" class="reveal-modal medium">
    <h2>Passwort wiederherstellen</h2>
    <div class="row collapse">
      <div class="large-8 mobile-large-2 columns">
        <input style="height: 39px;" type="text" placeholder="Deine E-Mailaddresse" />
      </div>
      <div class="large-4 mobile-large-2 columns">
        <a style="height: 39px;" class="button expand postfix">Setze mein Passwort zurück</a>
      </div>
    </div>
    <a class="close-reveal-modal">&#215;</a>
  </div>