  <div id="cart-modal" class="reveal-modal xlarge">
    <h3>Items in Cart</h3>
    <ul class="accordion">
      <li>
        <div class="title" style="position: relative;">
          <h5>Per Anhalter durch die Galaxis</h5>
          <h3><small>ISBN-13: 978-3453146976</small></h3>
          <a href="#" class="button" style="position: absolute; top: 15px; right: 90px;"><img src="images/cart_out.png" /></a>
        </div>
        <div class="content">
          <div class="row">
            <div class="four columns">
              <img src="http://placehold.it/350x350">
              <img src="http://placehold.it/350x350">
            </div>
            <div class="seven columns offset-by-one">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <div class="row">
                <div class="six columns">
                  <a data-reveal-id="add-comment-modal" class="button expand" data-reveal-id="cart-modal" href="#"><img src="images/pencil.png" /></a>
                </div>
                <div class="five columns offset-by-one">
                  <table cellpadding="0" cellspacing="0" width="133" bgcolor=#><tr><td style="padding: 4px 10px"><iframe src="http://www.ratingcode.com/show.php?id=136199479948&st=3&bg=" border="0" width="115" height="37" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no" bgcolor=></iframe></td><td style="padding: 4px 10px" width="18" align="center" valign="top" style="padding-top:5px"><a href="http://www.ratingcode.com" target="_blank"><img src="http://www.ratingcode.com/images/info.png" border="0" alt="Free Rating Code" title="Free Rating Code"></a></td></tr></table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="row">
      <div class="three columns">
        <a id="yes-no" href="#" class="button expand">Neuer Warenkorb</a>
      </div>
      <div class="three columns offset-by-one">
        <a href="#" data-reveal-id="switch-cart-modal" class="button expand">Ändere / Lösche Warenkorb</a>
      </div>
      <div class="three columns offset-by-one">
        <a href="#" data-reveal-id="compare-cart-modal" class="button expand">Vergleiche Anbieter</a>
      </div>
      <div class="one columns"></div>
    </div>

    <a class="close-reveal-modal">&#215;</a>
  </div>