  <div id="login-modal" class="reveal-modal small">
    <h3>Externe Dienste</h3>
    <div class="row">
      <div class="large-10 columns centered">
        <a href="#" class="button expand">Anmelden mit Facebook</a>
      </div>
    </div>
    <hr>
    <h3>Anmelden</h3>
    <div class="row">
      <div class="large-10 columns centered">
        <input type="text" placeholder="E-Mail" />
      </div>
    </div>
    <div class="row">
      <div class="large-10 columns centered">
        <input type="password" placeholder="Passwort" />
      </div>
    </div>
    <div class="row">
      <div class="large-5 columns centered">
        <a class="button expand" href="#">Anmelden</a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="large-10 columns centered">
        <p style="text-align: centered;">
          Du hast noch kein Konto? <a href="#" data-reveal-id="register-modal">Registrieren!</a> <br>
          Wenn du dein Passwort vergessen hast <a href="#" data-reveal-id="forgot-password-modal">klicke hier!</a>
        </p>
      </div>
    </div>
    <a class="close-reveal-modal">&#215;</a>
  </div>