  <div id="switch-cart-modal" class="reveal-modal medium">
    <h3>Deine Warenkörbe</h3>
     <ul class="accordion">
        <li class="active">
          <div class="title">
            <h5>Warenkorb 1</h5>
          </div>
          <div class="content">
            <div class="row">
              <div class="six columns">
                <ul>
                  <li>Artikel 1</li>
                  <li>Artikel 2</li>
                  <li>Artikel 5</li>
                </ul>
              </div>
              <div class="four columns">
                <a href="#" class="button expand" style="margin-left: 50px; margin-bottom: 15px;">Auswählen</a>
                <a href="#" class="button expand" style="margin-left: 50px;">Löschen</a>
              </div>
              <div class="two colums"></div>
            </div>
          </div>
        </li>
        <li>
          <div class="title">
            <h5>Warenkorb 2 </h5>
          </div>
          <div class="content">
            <div class="row">
              <div class="six columns">
                <ul>
                  <li>Artikel 4</li>
                  <li>Artikel 9</li>
                  <li>Artikel 5</li>
                </ul>
              </div>
              <div class="four columns">
                <a href="#" class="button expand" style="margin-left: 50px; margin-bottom: 15px;">Auswählen</a>
                <a href="#" class="button expand" style="margin-left: 50px;">Löschen</a>
              </div>
              <div class="two colums"></div>
            </div>
          </div>
        </li>
      </ul>
    <a class="close-reveal-modal">&#215;</a>
  </div>