.user_control
  .row
    .six.column
      %a.button.expand{"data-reveal-id" => "edit-user-modal", :style => "font-size: 80%"}
        Profil
    .six.column
      = link_to (t "layout.logout"),logout_path, style: "padding-left: 9px; font-size: 80%;", :class => "button expand"