/ Header and Nav
.row
  .large-3.columns
    %h1
      %img{:src => "http://placehold.it/400x100&text=Logo"}/
  .large-2.columns.large-offset-7
    %img{:src => "/images/ger.gif"}/
    %img{:src => "/images/gb.gif"}/
.row
  .large-3.columns
    .row
      .large-6.column
        %a.button.expand{"data-reveal-id" => "edit-user-modal", :href => "#"} Profil
      .large-6.column
        %a.button.expand{:href => "#", :style => "padding-left: 9px;"} Abmelden
  .large-9.columns.row
    = yield :head
/ End Header and Nav