.user_control
  .row
    .six.column
      %a.button.expand{"data-reveal-id" => "edit-user-modal", :href => "#"} Profil
    .six.column
      %a.button.expand{:href => logout_path, :style => "padding-left: 9px;"} Abmelden