/ Header and Nav

-content_for :login_modal do 
  = render :partial => "shared/modal/register"
  = render :partial => "shared/modal/login"
  = render :partial => "shared/modal/forgot_password"

.row
  .three.columns
    %h1
      %img{:src => "http://placehold.it/400x100&text=Logo"}/
  .two.columns.offset-by-seven
    %img{:src => "/assets/ger.gif"}/
    %img{:src => "/assets/gb.gif"}/
.row
  .three.columns
    %a{:class => "button expand", "data-reveal-id" => "login-modal", :href => "#", :style => "font-size: 90%;"}
      Anmelden / Registrieren
  .nine.columns
    = yield :head

/ End Header and Nav